@model WebApplication1.Fines

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div style="margin-bottom:29.6%">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Водитель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDriverNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            Описание штрафа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdFineNavigation.Description)
        </dd>
        <dt class="col-sm-2">
            Размер штрафа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdFineNavigation.Fine) руб.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateFine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFine)
        </dt>
        <dd class="col-sm-10">
            <img src="~/photo/Fines/@Html.DisplayFor(model => model.PhotoFine)" width="500" style="border-radius:10px" class="img-fluid hover-shadow" id="img" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>